/* BASIC CONFIGS */
html,
body{
  padding: 0;
  margin: 0;
  background: #1c1c1c;
  color: whitesmoke;
}

/* NAVIGATION */
img{
  width: 8rem;
  margin-top: 2rem;
  margin-left: 5rem;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
  margin-right: 5rem;
  list-style: none;
}

.navbar a{
  color: white;
  font-size: 2rem;
  text-decoration: none;
}

.navbar a:hover{
  color: rgb(0, 217, 255);
  cursor: pointer;
}


/* MAIN CONTENT */
.container{
  margin-top: 3rem;
  margin-left: 5rem;
  background-image: url(./img/react-icon-large.png);
  background-repeat:no-repeat;
  background-size: 15rem;
  background-position: right center;
}

h1{
  font-size: 5rem;
  margin-top: 1rem;
}

ul{
  margin-left: 2rem;
}

li{
  font-size: 2em;
  line-height: 3.5rem;
}


ul li::marker{
  color: #61DAFB;
}

span {
  position: relative;
  }
  
  span:before {
  position: absolute;
  content: '';
  height: .2em;
  width: 90%;
  bottom: .1em;
  background: rgba(0, 217, 255, 0.262);;
  }


  /* FOOTER */
  .footer{
   text-align: center;
   margin-top: 8rem;
   color: lightgray;
  }